.php_cs.cache
vendor

# JetBrains IDE
.idea/

# Vagrant
.vagrant/

# Environment
environment/env/*
!environment/env/README.md
environment/src/*
!environment/src/README.md
environment/www/*
!environment/www/README.md

environment/dev/*
!environment/dev/README.md
